html {
  height: 100%;
}

body {
  font-family: "MuseoSansBold";
  color: #000;
  min-height: 100%;
}

.wrapper {
  width: 70vw;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  background: #f424f2;
  padding: 10px;
  margin: 0 auto;
}
.header .header__section-left, .header .header__section-right {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  text-align: left;
}
.header .header__section-right a {
  text-decoration: none;
  transition: none;
}
.header .header__section-right a:hover {
  color: #fff;
}
.header .header__section-right a:active {
  color: #fff;
}
.header .header__section-right a:focus {
  color: #fff;
}
.header .header__item {
  padding: 10px 15px;
  margin: 0 10px;
}
.header .header__item a {
  color: #000;
}
.header .header__logo {
  font-size: 1.8em;
}
.header .header__logo:hover {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.main h2 {
  font-size: 1.6em;
  margin: 30px;
}

.main__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border: 2px solid #DDD;
  padding: 20px;
  width: 30vw;
  margin: 5vh 2vh 2vh;
  min-width: 300px;
}

.main__form-title {
  padding-bottom: 20px;
  font-size: 24px;
  color: #000;
}

.main__form-input {
  border: 2px solid #DDD;
  width: 25vw;
  height: 30px;
  outline: none;
  margin-bottom: 15px;
  min-width: 170px;
  padding-left: 10px;
}
.main__form-input:hover {
  border: 2px solid #f424f2;
  width: 25vw;
  outline: none;
  margin-bottom: 15px;
  min-width: 170px;
}
.main__form-input:focus {
  border: 2px solid #6da4eb;
  width: 25vw;
  outline: none;
  margin-bottom: 15px;
  min-width: 170px;
}

.main__form-button {
  width: 15vw;
  min-width: 170px;
  padding-left: 0;
}
.main__form-button:hover {
  width: 15vw;
  min-width: 170px;
  border: 2px solid #000;
}
.main__form-button:active {
  width: 15vw;
  min-width: 170px;
  background-color: #f424f2;
}
.main__form-forgot {
  text-align: center;
  width: 25vw;
  outline: none;
  margin-bottom: 15px;
  min-width: 170px;
}
.main__form-forgot:hover {
  color: #000;
}
.main__form-forgot:active {
  color: #000;
}
.main__form-forgot:focus {
  color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: auto;
  padding: 100px 5px 30px;
}

.index:hover {
  color: #000;
}

h1 {
  font-size: 18px;
  margin: 30px;
}

.yandex__map {
  margin-top: 40px;
  border: 2px solid #808080;
  width: 50vw;
  height: 60vh;
}

.index__content {
  margin-top: 30px;
  width: 60vw;
  line-height: 28px;
  word-spacing: 15px;
  font-size: 20px;
  border-left: 2.5px solid #000;
  padding-left: 10px;
}

.error__message {
  font-size: 14px;
  padding-bottom: 20px;
  color: red;
}

.all__message {
  font-size: 14px;
  padding-bottom: 20px;
  color: green;
}

.feedback__textarea {
  height: 28vh;
  font-size: 17px;
}

.yandex__pay {
  margin-top: 40px;
  width: 50vw;
  height: 50vh;
  min-width: 350px;
}

.topics__admin {
  padding: 20px;
  width: 50vw;
  margin: 20px;
  border: 2px solid #DDD;
}